@charset "utf-8";


*,
*:after,
*:before {
  box-sizing: border-box;
}

/* display none */
.tablettop {
  display: none;
}

.pcheader_hea1 {
  display: none;
}

.pcmenu {
  display: none;
}

.pclate_sub {
  display: none;
}

.pclatebox {
  display: none;
}

#pccontactbtn {
  display: none;
}

footer {
  display: none;
}

header .top {
  width: 100%;
  height: 130px;
  position: fixed;
  z-index: 999;
}


header .top .toplogo {
  position: absolute;
  top: 60px;
  left: 80px;
}

header .top .topbag {
  position: absolute;
  top: 20px;
  right: 80px;
}





/* login */
.login-model {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 99999;
}

.login-model h2 {
  text-align: center;
  margin-top: 80px;
  padding-bottom: 20px;
}

.login-model p {
  text-align: left;
  text-align: center;
}

.login-moderl-form {
  width: 80%;
  margin: 0 auto;
}

.login-close-switch {
  position: absolute;
  width: 50px;
  height: 50px;
  font-weight: bold;
  color: #000;
  text-align: center;
  font-size: 21px;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.login-input {
  display: block;
  width: 100%;
  margin: 1rem auto;
  height: 80px;
  padding: 6px 12px;
  appearance: none;
  font-size: 14px;
  color: #000;
  border: 1px solid #000;
  border-color: transparent transparent #000 transparent;
}

.login-input:focus {
  outline: none;
  color: #000;
}

.pwcheck {
  margin-left: 50px;
}

.mysave {
  position: absolute;
  right: 50px;
  top: 390px;
}

.mysave input {
  margin-right: 10px;
  width: 17px;
  height: 17px;
}

.login-model .form_group1 {
  text-align: center;
  margin-top: 100px;
}

.login-model .form_group1 .btn {
  width: 300px;
  height: 35px;
  background: none;
  border: 1px solid #000;
}

.login-model .form_group2 {
  text-align: center;
  margin-top: 100px;
}

.login-model .form_group2 .btn_b {
  width: 300px;
  height: 35px;
  background: #000;
  border: 1px solid #000;
  color: #fff;
}

/* join */
.join-model {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 99999;
}

.join-model h2 {
  text-align: center;
  margin-top: 80px;
  padding-bottom: 20px;
}

.join-model span {
  font-size: 12px;
}

.join-moderl-form {
  width: 80%;
  margin: 0 auto;
}

.join-close-switch {
  position: absolute;
  width: 50px;
  height: 50px;
  font-weight: bold;
  color: #000;
  text-align: center;
  font-size: 21px;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.join-input {
  display: block;
  width: 100%;
  margin: 1rem auto;
  height: 80px;
  padding: 6px 12px;
  appearance: none;
  font-size: 14px;
  color: #000;
  border: 1px solid #000;
  border-color: transparent transparent #000 transparent;
}

.join-input:focus {
  outline: none;
  color: #000;
}

.ok {
  margin-left: 50px;
  padding-top: 20px;
}


.ok input {
  margin-right: 10px;
  width: 17px;
  height: 17px;
}

.join-model .form_group3 {
  text-align: center;
  margin-top: 100px;
}

.join-model .form_group3 .btn_j {
  width: 300px;
  height: 35px;
  background: #000;
  border: 1px solid #000;
  color: #fff;
}



header .top .topsearch {
  position: absolute;
  top: 20px;
  right: 20px;
}

.search-model {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 99999;
}

.search-moderl-form {
  padding: 0 15px;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -250px;
}

.search-moderl-form input {
  width: 500px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #333;
  background: none;
  color: #999;
  outline: none;
}

.search-close-switch {
  position: absolute;
  width: 50px;
  height: 50px;
  font-weight: bold;
  color: #000;
  text-align: center;
  font-size: 21px;
  top: 10px;
  right: 15px;
  cursor: pointer;
}



/* 메뉴 */
.hamburger {
  background: none;
  position: absolute;
  top: 10px;
  left: 5px;
  line-height: 45px;
  padding: 0px 15px 0px 15px;
  color: #000;
  border: 0;
  font-size: 1.4em;
  font-weight: normal;
  cursor: pointer;
  outline: none;
  z-index: 1000;
}

.menu {
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 100%;
  top: -100%;
  overflow: auto;
  background: #fff;
}

.menu .close {
  position: absolute;
  top: 10px;
  left: 5px;
}

.menu .menulogo {
  position: absolute;
  top: 60px;
  left: 80px;
}

.menu .menusearch-model {
  width: 100%;
  margin-top: 300px;
}

.menu .menusearch-moderl-form {
  position: absolute;
  top: 10%;
  right: 0;
  padding-top: 80px;
}

.menu .menusearch-moderl-form input {
  width: 400px;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #333;
  background: none;
  color: #999;
  outline: none;
}




.menu .menubox1 {
  width: 100%;
  position: relative;
}

.menu .menubox1 ul {
  position: absolute;
  left: 10%;
}

.menu .menubox1 ul li {
  padding-bottom: 30px;
}

.menu .menubox1 ul li a {
  color: #000;
  font-size: 20px;
}


.menu .menubox2 {
  width: 100%;
}

.menu .menubox2 ul {
  position: absolute;
  left: 8%;
  bottom: 100px;
}

.menu .menubox2 ul img {
  margin-right: 10px;
}

.menu .menubox2 ul li {
  padding-bottom: 15px;
}

.menu .menubox2 ul li a {
  color: #000;
  font-size: 15px;
}

.menu .menubox2 ul li:last-child {
  padding-top: 30px;
  font-weight: bold;
}

/* 메뉴 끝 */



/* section */
.late_sub {
  width: 100%;
}

.late_sub ul img {
  width: 100%;
}

.latebox {
  position: fixed;
  width: 100%;
  height: 200px;
  bottom: 0;
  background: #fff;
  z-index: 9;
  box-shadow: 0 -4px 4px #ccc;
}

.latebox .radius {
  width: 50px;
  height: 5px;
  border-radius: 50px;
  background: lightgray;
  margin: 0 auto;
  margin-top: 20px;
}

.latebox p {
  margin-left: 20px;
  margin-top: 20px;
}

.latebox .box {
  background: #000;
  height: 40px;
  width: 90%;
  margin: 0 auto;
  position: relative;
  bottom: -20px;
}

.latebox .box p {
  color: #fff;
  text-align: center;
  padding-top: 8px;
  cursor: pointer;
}

.latebox img {
  position: absolute;
  right: 30px;
  top: 40px;
}


#contactbtn {
  position: fixed;
  bottom: 230px;
  right: 20px;
  width: 11%;
  cursor: pointer;
  z-index: 99999;
}

#contactbtn img {
  width: 100%;
}












/* tablet */
@media screen and (min-width:640px) {

  .top {
    display: none;
  }

  .article {
    display: none;
  }

  header .tablettop {
    top: 0;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 999;
    display: block;
    background: #fff;
    box-shadow: -4px 0 4px #ccc;
  }

  header .tablettop .t_hamburger {
    background: none;
    position: absolute;
    top: 10px;
    left: 5px;
    line-height: 45px;
    padding: 0px 15px 0px 15px;
    color: #000;
    border: 0;
    font-size: 1.4em;
    font-weight: normal;
    cursor: pointer;
    outline: none;
    z-index: 1000;
  }

  header .tablettop .t_toplogo {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
  }

  header .tablettop .t_topbag {
    position: absolute;
    top: 20px;
    right: 80px;
  }

  header .tablettop .t_topsearch {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  header .tablettop .search-model {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 99999;
  }

  header .tablettop .search-moderl-form {
    padding: 0 15px;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -250px;
  }

  header .tablettop .search-moderl-form input {
    width: 500px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #000;
    background: none;
    color: #999;
    outline: none;
  }

  header .tablettop .search-close-switch {
    position: absolute;
    width: 50px;
    height: 50px;
    font-weight: bold;
    color: #000;
    text-align: center;
    font-size: 21px;
    top: 10px;
    right: 15px;
    cursor: pointer;
  }

  /* section */

  .late_sub ul {
    background: #F8F8F8;
    width: 100%;
    text-align: center;
  }

  .late_sub ul img {
    width: 80%;
  }
}


@media screen and (min-width:801px) {

  header .tablettop {
    display: none;
  }

  .late_sub {
    display: none;
  }

  .latebox {
    display: none;
  }

  #contactbtn {
    display: none;
  }

  /* pc menu */
  .pcmenu {
    display: block;
    width: 100%;
    height: 700px;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 9;
  }

  .pcheader_hea1 {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 150px;
    z-index: 9;
    background: #fff;
    box-shadow: -4px 0 4px #ccc;
  }

  .pcheader {
    width: 100%;
    height: 130px;
    position: fixed;
  }

  .pcheader .pctoplogo {
    position: absolute;
    top: 60px;
    left: 80px;
  }

  .pcheader .pctoplogo img {
    width: 300px;
  }

  .pcheader .pctopbag {
    position: absolute;
    top: 40px;
    right: 100px;
  }

  /* login */
  .login-model {
    display: none;
  }

  .pclogin-model {
    display: none;
    position: fixed;
    width: 100%;
    height: 500px;
    background: #fff;
    z-index: 9999 !important;
  }

  .pclogin-model .model1 {
    width: 50%;
  }

  .pclogin-model .model1 h2 {
    position: absolute;
    left: 33%;
    top: 10%;
  }


  .pclogin-model .model1 .pclogin-moderl-form:first-child {
    position: absolute;
    left: 25%;
    top: 30%;
  }


  .pclogin-model .model1 .pclogin-moderl-form:nth-child(2) {
    position: absolute;
    left: 25%;
    top: 45%;
  }

  .pclogin-model .model1 .pclogin-input {
    display: block;
    width: 400px;
    margin: 1rem auto;
    height: 50px;
    padding: 6px 12px;
    appearance: none;
    font-size: 14px;
    color: #000;
    border: 1px solid #000;
    border-color: transparent transparent #000 transparent;
  }

  .pclogin-close-switch {
    position: absolute;
    width: 55px;
    height: 55px;
    font-weight: bold;
    color: #000;
    text-align: center;
    font-size: 21px;
    top: 35px;
    right: 35px;
    cursor: pointer;
  }

  .pclogin-model .model1 .pclogin-input:focus {
    outline: none;
    color: #000;
  }

  .pclogin-model .model1 .pcpwcheck {
    position: absolute;
    bottom: 150px;
    left: 25%;
    cursor: pointer;
  }

  .pclogin-model .model1 .pcmysave {
    position: absolute;
    left: 40%;
    bottom: 150px;
  }

  .pclogin-model .model1 .mysave input {
    margin-right: 10px;
    width: 17px;
    height: 17px;
  }

  .pclogin-model .model1 .pcform_group1 {
    position: absolute;
    left: 25%;
    bottom: 50px;
  }

  .pclogin-model .model1 .pcform_group1 .btn {
    width: 400px;
    height: 35px;
    background: none;
    border: 1px solid #000;
  }

  .pclogin-model .model2 {
    width: 50%;
  }

  .pclogin-model .model2 h2 {
    position: absolute;
    right: 32%;
    top: 10%;
  }

  .pclogin-model .model2 p {
    position: absolute;
    right: 27%;
    top: 32%;
  }

  .pclogin-model .model2 .pcform_group2 {
    position: absolute;
    right: 24%;
    bottom: 50px;
  }

  .pclogin-model .model2 .pcform_group2 .pcbtn_b {
    background: #000;
    width: 400px;
    height: 35px;
    color: #fff;
    border: 1px solid #000;
  }

  /* join */
  .join-model {
    display: none;
  }

  .pcjoin-model {
    display: none;
    position: fixed;
    width: 100%;
    height: 500px;
    background: #fff;
    z-index: 999999 !important;
  }

  .pcjoin-model h2 {
    text-align: center;
    margin-top: 50px;
  }

  .pcjoin-close-switch {
    position: absolute;
    width: 55px;
    height: 55px;
    font-weight: bold;
    color: #000;
    text-align: center;
    font-size: 21px;
    top: 35px;
    right: 35px;
    cursor: pointer;
  }

  .pcjoin-model .model3 {
    width: 50%;
  }

  .pcjoin-model .model3 .pcjoin-moderl-form:first-child {
    position: absolute;
    left: 25%;
    top: 25%;
  }

  .pcjoin-model .model3 .pcjoin-moderl-form:nth-child(2) {
    position: absolute;
    left: 25%;
    top: 45%;
  }

  .pcjoin-model .pcjoin-input {
    display: block;
    width: 400px;
    margin: 1rem auto;
    height: 50px;
    padding: 6px 12px;
    appearance: none;
    font-size: 14px;
    color: #000;
    border: 1px solid #000;
    border-color: transparent transparent #000 transparent;
  }

  .pcjoin-model .model3 .pcok {
    position: absolute;
    bottom: 150px;
    left: 25%;
  }

  .pcjoin-model .pcjoin-input:focus {
    outline: none;
    color: #000;
  }

  .pcjoin-model .model4 {
    width: 50%;
  }


  .pcjoin-model .model4 .pcjoin-moderl-form:first-child {
    position: absolute;
    right: 25%;
    top: 25%;
  }

  .pcjoin-model .model4 .pcjoin-moderl-form:nth-child(2) {
    position: absolute;
    right: 25%;
    top: 45%;
  }

  .pcjoin-model .model4 .pcok {
    position: absolute;
    bottom: 150px;
    right: 29%;

  }

  .pcjoin-model .model4 .pcform_group4 .pcbtn_j {
    background: #000;
    width: 400px;
    height: 35px;
    color: #fff;
  }

  .pcjoin-model .pcform_group4 {
    position: absolute;
    left: 25%;
    bottom: 50px;
  }

  .pcjoin-model .pcform_group4 {
    text-align: center;
    width: 50%;
  }

  .pcjoin-model .pcbtn_j {
    width: 400px;
    height: 38px;
    background: #000;
    color: #fff;
  }



  /* 검색창 */
  .search-model {
    position: fixed;
    width: 100%;
    height: 150px;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 999;
  }

  .search-moderl-form {
    padding: 50px 15px;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -250px;
  }

  .search-moderl-form input {
    width: 500px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #333;
    background: none;
    color: #999;
    outline: none;
  }

  .search-close-switch {
    position: absolute;
    width: 55px;
    height: 55px;
    font-weight: bold;
    color: #000;
    text-align: center;
    font-size: 21px;
    top: 35px;
    right: 35px;
    cursor: pointer;
  }

  .pcheader .pctopbag img {
    width: 38px;
  }

  .pcheader .pctopsearch {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  .pcheader .pctopsearch img {
    width: 38px;
  }

  #pcmainmenu {
    position: relative;
    width: 100%;
    height: 52px;
    top: 70px;
    margin: 0 auto;
    margin-left: 500px;
  }

  #pcmainmenu li {
    float: left;
    width: 200px;
  }

  #pcmainmenu li a {
    display: block;
    line-height: 52px;
    color: #000;
    font-size: 1.2em;
    text-align: center;
    position: relative;
  }

  #pcmainmenu li a::after {
    content: "";
    height: 3px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 100%;
    transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  }

  #pcmainmenu li a:hover::after {
    left: 0;
    right: 0;
  }

  /* 메뉴창박스 */

  #pcsubmenu {
    position: relative;
    width: 100%;
    height: 52px;
    top: 70px;
    margin: 0 auto;
    padding-left: 500px;
  }

  #pcsubmenu li {
    width: 200px;
  }

  #pcsubmenu li a {
    display: block;
    line-height: 52px;
    color: #000;
    font-size: 15px;
    text-align: center;
  }

  #pcsubmenubox {
    display: flex;
  }

  #pcsubmenubox ul {
    margin-top: 30px;
  }

  #pcsubmenubox ul li a:hover {
    color: lightgray;
  }

  #pcnavbox {
    position: relative;
    top: -30px;
  }

  #pcnavbox ul:first-child {
    position: absolute;
    left: -500px;
    display: flex;
    justify-content: flex-start;
    width: 20%;
  }

  #pcnavbox ul:last-child {
    position: absolute;
    right: 20px;
    width: 20%;
  }

  article {
    width: 100%;
  }

  .pclate_sub {
    display: block;
    width: 50%;
    height: 100%;
    background: #F8F8F8;
    text-align: center;
    margin-top: 100px;
  }

  .pclatebox {
    display: block;
    width: 50%;
    position: fixed;
    right: -200px;
    top: 300px;
    margin: 0 auto;
  }

  .pclatebox .pcwish {
    width: 100%;
    position: absolute;
    right: -500px;
  }

  .pclatebox .price {
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    width: 600px;
  }

  .pclatebox .price h3 {
    font-weight: normal;
    font-size: 22px;
  }

  .pclatebox .price p {
    margin-top: 10px;
    font-size: 17px;
  }

  .pclatebox .color {
    position: absolute;
    top: 100px;
  }

  .pclatebox .color a {
    position: absolute;
    left: 30px;
    top: 35px;
    border: 1px solid #000;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .pclatebox .size p {
    margin-top: 120px;
    margin-bottom: 20px;
  }

  .pclatebox .size span {
    padding-left: 20px;
    cursor: pointer;
    margin-left: 15px;
  }

  .pclatebox .size2 {
    cursor: pointer;
    margin-top: 50px;
  }

  .pclatebox .size2 img {
    position: absolute;
    bottom: -28px;
  }

  .pclatebox .size2 p {
    position: absolute;
    left: 60px;
    bottom: -12px;
    border-bottom: 1px solid #000;
    font-weight: bold;
  }

  .pclatebox .box {
    background: #000;
    height: 45px;
    width: 50%;
    margin: 0 auto;
    bottom: -100px;
    position: absolute;
  }

  .pclatebox .box p {
    color: #fff;
    text-align: center;
    padding-top: 10px;
  }

  .pclatebox .footerbox {
    display: flex;
    position: absolute;
    bottom: -200px;
    left: 60px;
  }

  .pclatebox .footerbox p {
    margin-right: 40px;
    color: #000;
  }

  /* footer */
  footer {
    display: block;
  }

  .pcfootertop {
    display: flex;
    width: 100%;
    height: 500px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-bottom: 200px;
  }

  .pcfootertop ul {
    width: 80%;
    margin-top: 80px;
    text-align: center;
  }

  .pcfootertop ul li {
    margin: 30px;
  }

  .pcfootertop ul li h3 {
    margin-bottom: 20px;
  }

  .pcfootertop ul li a {
    color: #333;
  }

  .footerbottom h2 img {
    width: 80%;
  }
}